input[type='range'] {
	-webkit-appearance: none;
    width: 100%;
	background: grey;
	border-radius: 2px;
	background-image: linear-gradient(#55b3ff, #55b3ff);
	background-repeat: no-repeat;
    cursor: ew-resize;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: ew-resize;
	height: 30px;
	width: 5px;
	border-radius: 0%;
	background: #55b3ff;
}
