@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS variables */
:root {
  --gray-1: #1F1F1F;
  --gray-2: #111111;
  --gray-3: #666666;
  --ice-blue: #71ACD9;
  --ocean-blue: #1F7989;
  --orange: #FF6A00;
  --progress-green: #128721;
  --sky-blue: #18A0FB;
  --warning-red: #CC0000;
  --white: #FFFFFF;
}

/* Fonts used */
.montserrat { font-family: Montserrat; }
.montserrat-semibold-italic {
  font-family: Montserrat;
  font-weight: 600;
  font-style: italic;
}

/* Font sizes used */
.text-size-32 {
  font-size: 32px;
}

/* Colors used */
.gray-1 { color: var(--gray-1); }
.gray-2 { color: var(--gray-2); }
.gray-3 { color: var(--gray-3); }
.ice-blue { color: var(--ice-blue); }
.ocean-blue { color: var(--ocean-blue); }
.orange { color: var(--strat-orange); }
.progress-green { color: var(--progress-green); }
.sky-blue { color: var(--sky-blue); }
.warning-red { color: var(--warning-red); }
.white { color: var(--white); }

/* Text styling used */
.ocean-blue-stroke-2 { /* Puts ~2px ocean blue border around text */
  text-shadow: 
    var(--ocean-blue) 2px 0px 0px, 
    var(--ocean-blue) 1.75517px 0.958851px 0px, 
    var(--ocean-blue) 1.0806px 1.68294px 0px, 
    var(--ocean-blue) 0.141474px 1.99499px 0px, 
    var(--ocean-blue) -0.832294px 1.81859px 0px, 
    var(--ocean-blue) -1.60229px 1.19694px 0px, 
    var(--ocean-blue) -1.97998px 0.28224px 0px, 
    var(--ocean-blue) -1.87291px -0.701566px 0px, 
    var(--ocean-blue) -1.30729px -1.5136px 0px, 
    var(--ocean-blue) -0.421592px -1.95506px 0px, 
    var(--ocean-blue) 0.567324px -1.91785px 0px, 
    var(--ocean-blue) 1.41734px -1.41108px 0px, 
    var(--ocean-blue) 1.92034px -0.558831px 0px;  
}

.sky-blue-stroke-2 { /* Puts ~2px sky blue border around text */
  text-shadow: 
    var(--sky-blue) 2px 0px 0px, 
    var(--sky-blue) 1.75517px 0.958851px 0px, 
    var(--sky-blue) 1.0806px 1.68294px 0px, 
    var(--sky-blue)0.141474px 1.99499px 0px, 
    var(--sky-blue) -0.832294px 1.81859px 0px, 
    var(--sky-blue) -1.60229px 1.19694px 0px, 
    var(--sky-blue) -1.97998px 0.28224px 0px, 
    var(--sky-blue) -1.87291px -0.701566px 0px, 
    var(--sky-blue) -1.30729px -1.5136px 0px, 
    var(--sky-blue) -0.421592px -1.95506px 0px, 
    var(--sky-blue) 0.567324px -1.91785px 0px, 
    var(--sky-blue) 1.41734px -1.41108px 0px, 
    var(--sky-blue) 1.92034px -0.558831px 0px;  
}

.orange-stroke-2 { /* Puts ~2px orange border around text */
  text-shadow: 
    var(--orange) 2px 0px 0px, 
    var(--orange) 1.75517px 0.958851px 0px, 
    var(--orange) 1.0806px 1.68294px 0px, 
    var(--orange) 0.141474px 1.99499px 0px, 
    var(--orange) -0.832294px 1.81859px 0px, 
    var(--orange) -1.60229px 1.19694px 0px, 
    var(--orange) -1.97998px 0.28224px 0px, 
    var(--orange) -1.87291px -0.701566px 0px, 
    var(--orange) -1.30729px -1.5136px 0px, 
    var(--orange) -0.421592px -1.95506px 0px, 
    var(--orange) 0.567324px -1.91785px 0px, 
    var(--orange) 1.41734px -1.41108px 0px, 
    var(--orange) 1.92034px -0.558831px 0px; 
}

.ocean-blue-stroke-1 { /* ~1px border */
  text-shadow: 
    var(--ocean-blue) 1px 0px 0px, 
    var(--ocean-blue) 0.540302px 0.841471px 0px, 
    var(--ocean-blue) -0.416147px 0.909297pvar(--ocean-blue) 0px, 
    var(--ocean-blue) -0.989992px 0.14112px 0px, 
    var(--ocean-blue) -0.653644px -0.756802px 0px, 
    var(--ocean-blue) 0.283662px -0.958924px 0px, 
    var(--ocean-blue) 0.96017px -0.279415px 0px;
}

.sky-blue-stroke-1 { /* ~1px border */
  text-shadow: 
    var(--sky-blue) 1px 0px 0px, 
    var(--sky-blue) 0.540302px 0.841471px 0px, 
    var(--sky-blue) -0.416147px 0.909297px 0px, 
    var(--sky-blue) -0.989992px 0.14112px 0px, 
    var(--sky-blue) -0.653644px -0.756802px 0px, 
    var(--sky-blue) 0.283662px -0.958924px 0px, 
    var(--sky-blue) 0.96017px -0.279415px 0px;
}

.orange-blue-stroke-1 { /* ~1px border */
  text-shadow: 
    var(--orange) 1px 0px 0px, 
    var(--orange) 0.540302px 0.841471px 0px, 
    var(--orange) -0.416147px 0.909297px 0px, 
    var(--orange) -0.989992px 0.14112px 0px, 
    var(--orange) -0.653644px -0.756802px 0px, 
    var(--orange) 0.283662px -0.958924px 0px, 
    var(--orange) 0.96017px -0.279415px 0px;
}

/* Gradients uses */
.gray-2-gradient{
  height:108px;
  width:1912px;
  background:linear-gradient(var(--gray-2), transparent);
}

/* Background images used */
.background-about {
  background-image: url("./assets/images/backgrounds/about.png");
  /* background-size: 80%; */
}

.background-browse-general {
  background-image: url("./assets/images/backgrounds/browse_general.png");
}

.background-browse-personal {
  background-image: url("./assets/images/backgrounds/browse_personal.png");
}

.background-home {
  background-image: url("./assets/images/backgrounds/home.png");
}

.background-login {
  background-image: url("./assets/images/backgrounds/login.png");
}

.background-overlay {
  background-image: url("./assets/images/backgrounds/overlay.png");
}

.background-replay {
  background-image: url("./assets/images/backgrounds/replay.png");
}

.background-settings {
  background-image: url("./assets/images/backgrounds/settings.png");
}

.background-stats-general {
  background-image: url("./assets/images/backgrounds/stats_general.png");
}

.background-stats-personal {
  background-image: url("./assets/images/backgrounds/stats_personal.png");
}

.background-upload {
  background-image: url("./assets/images/backgrounds/upload.png");
}

/* Modifying scrollbar */
::-webkit-scrollbar { /* Width & height */
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track { /* Track color */
  background: var(--white);
}

::-webkit-scrollbar-thumb { /* Bar color when idle */
  background: var(--ocean-blue);
}

::-webkit-scrollbar-thumb:hover { /* Bar color when hovering */
  background: var(--gray-3);
}

/* Header CSS */

.header-logo-padding {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.header-text-padding {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.header-block-button {
  display: block;
  color: var(--ocean-blue);
  background: var(--white);
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 600;
  height: 73px;
  width: 234px;
  border: solid var(--ocean-blue);
  border-width: 4px;
}

.mini-header-block-button-regular {
  display: block;
  color: var(--ocean-blue);
  background: var(--white);
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 600;
  height: 64px;
  width: 189px;
  border: 4px solid var(--ocean-blue);
  border-top: 0;
}

.mini-header-block-button-logout {
  display: block;
  color: var(--white);
  background: var(--warning-red);
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 600;
  height: 64px;
  width: 189px;
  border: 4px solid var(--ocean-blue);
  border-top: 0;
}

/* Other */
body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a202c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}