.loader:empty {
  margin: auto;
  border: 20px solid #e7f0f8;
  border-radius: 50%;
  border-top: 20px solid #5fa8fc;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: spinner 2s linear infinite;
}

body {
  background-color: #1a202c;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
