.cross-mark {
  position: relative;
  height: 35px; /* this can be anything */
  width: 35px; /* ...but maintain 1:1 aspect ratio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-right: 10px;
}

.cross-mark:before,
.cross-mark:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px; /* cross thickness */
  background-color: white;
}

.cross-mark::before {
  transform: rotate(45deg);
}

.cross-mark::after {
  transform: rotate(-45deg);
}

.popup {
  z-index: 1001;
  background-color: #292929;
  background: rgba(19, 19, 19, 0.9);
  backdrop-filter: blur(12px);
  -webkit-background-filter: blur(15px);
  /* shadow */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.18);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.back-drop {
  width: 100%;

  min-height: 130%;

  z-index: 1000;

  position: absolute;

  background: rgba(0, 0, 0, 0.7);

  margin-top: -200px;

  margin-left: 0px;
}

@media (max-width: 649px) {
  .back-drop {
    margin-top: -500px;
    min-height: 250%;
  }
}
