[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "*", index = "pypi"}
uvicorn = {extras = ["standard"], version = "*", index = "pypi"}
python-multipart = {version = "*", index = "pypi"}

[dev-packages]
boxcars-py = {path = "whl/boxcars_py-0.1.15-cp38-none-win_amd64.whl", sys_platform = "== 'win32'"}

[requires]
python_version = "3.8"
