
/* Header CSS */
header {
  display: flex;
  max-height: 100px;
}

  /* Tablet styles */
  @media (max-width: 850px) {
    header {
      /* Tablet styles */
      flex-direction: column;
      align-items: center;
      max-height: none;
    }
  }

/* super mobile styles */
@media (max-width: 637px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .dropdown {
    margin-top: 1rem;
  }
}