[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
loguru = "*"
pymongo = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
celery = "==5.2.7"
redis = "==4.5.1"
simplejson = "*"

[dev-packages]
pytest = "*"
docker = "*"

[requires]
python_version = "3.10"
